/* navbar */
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.navbar__logo img{
    width: 50%;
}
.navbar__button{
    background-color:#F44E77;
    text-decoration:none;
    border-radius: 28px;
    padding: 13px 40px 13px 40px;
}

.navbar__button a{
    text-decoration: none;
}

/* FOOTER */
footer{
    min-height: 100%;
}
.footer-content{
    color: #6A6D9E;
}
footer .nav-link{
    color: #16194F;
}