body {
  background-color: #f2f6ff;
}

body, html {
  width: 100%;
  height: 100%;
}

/* navbar 
.navbar-hero {
  margin-top: 1.5rem;
} */

.navbar {
  display: flex;
  justify-content: space-around;
  /* justify-content:space-between; */
  align-items: center;
}
.navbar__logo img {
  width: 50%;
}
.navbar__button {
  background-color: #f44e77;
  text-decoration: none;
  border-radius: 10px;
  padding: 9px 35px;
}

a {
  color: white;
}
.navbar__button a {
  text-decoration: none;
}

.nav-link {
  color: white;
}
.section-1 {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 85%;
}

.title {
  color: #554dde;
  font-size: 50px;
}

.content {
  color: #6a6d9e;
  font-size: 18px;
  margin-top: 30px;
}

.learn-more {
  background-color: #16194f;
  color: white;
  border-radius: 10px;
  border: 0;
  outline: 0;
  transition: .3s;
}

.learn-more:hover {
  background-color: white;
  color: black;
}

.font-white {
  color: white !important;
}
.navbar__button a {
  text-decoration: none;
}

/* FOOTER */
footer {
  min-height: 100%;
}
.footer-content {
  color: #6a6d9e;
}
footer .nav-link {
  color: #16194f;
}

.card-btn {
  border: solid #16194f 2px;
  border-radius: 15px
}

.card-btn-link {
  text-decoration: none;
  color: #16194f
}

.card-check-icon {
  height: 30px;
  margin-right: 10px
}

.card-list-dead {
  filter: grayscale(100%);
  opacity: 80%
}

.faq-img {
  float: right;
  height: 18px;
  position: relative;
  top: 3px;
}

.footer-cont {
  background-color: #DCE2F0;
}

.plan-card {
  background-color: white;
  border-radius: 100px
}