body {
  background-color: #f2f6ff;
}

/* navbar */
<<<<<<< HEAD
.navbar-hero {
  margin-top: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
=======
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;

>>>>>>> 8e1efbb8af3cbdb0f3bfbbf43ccb27a9149c1618
}
.navbar__logo img {
  width: 50%;
}
.navbar__button {
  background-color: #f44e77;
  text-decoration: none;
  border-radius: 10px;
  padding: 9px 35px;
}

<<<<<<< HEAD
a {
  color: white;
}
.navbar__button a {
  text-decoration: none;
}

.nav-link {
  color: white;
}
.section-1 {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: 1300px 550px;
}

.title {
  color: #554dde;
}

.content {
  color: #6a6d9e;
}

.learn-more {
  background-color: #16194f;
  color: white;
  border-radius: 10px;
}

.font-white {
  color: white !important;
}
=======
.navbar__button a{
    text-decoration: none;
}

/* FOOTER */
footer{
    min-height: 100%;
}
.footer-content{
    color: #6A6D9E;
}
footer .nav-link{
    color: #16194F;
}

body {
    background-color: #F2F6FF;
}
>>>>>>> 8e1efbb8af3cbdb0f3bfbbf43ccb27a9149c1618
